<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolTrove</title>
    <link rel="stylesheet" href="/Static/styles.css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
</head>

<body style="background-color: #f1ebeb;">
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/Static/ToolTrove_Logo.png" alt="ToolTrove" width="60px"></a>
        </div>
        <div class="searchbar">
            <input class="search" type="text" placeholder="Search for a tool">
        </div>

        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="/signup" class="btn">Sign Up</a>
        </div>
    </nav>
    <div class="all-container">
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <p class="heading">Card Hover Effect
                </p>
                <p class="para">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
                    laboriosam at voluptas minus culpa deserunt delectus sapiente
                    inventore pariatur
                </p>
                <button class="btn">Read more</button>
            </div>
        </div>
    </div>
</body>

</html>