<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolTrove</title>
    <link rel="stylesheet" href="/Static/styles.css">
    <script src="script.js"></script>
</head>
<header>
    <nav class="navbar">
        <div class="logo">
            <a href="/"><img src="/Static/ToolTrove_Logo.png" alt="ToolTrove" width="60px"></a>
        </div>
        <div class="menu">
            <a href="/" class="home">Home</a>
            <div class="dropdown">
                <button class="categories">Categories</button>
                <div class="dropdowncontent">
                    <a href="/texttohandwriting">Text-to-Handwriting</a>
                    <a href="/imageconverter">Image Convertor</a>
                    <a href="/imageEnhancer">Image Enhancer</a>
                </div>
            </div>
            <a href="/about" class="about">About Us</a>
        </div>

        <div class="searchbar">
            <input class="search" type="text" placeholder="Search for a tool...">
        </div>
        
        <div class="buttons">
            <a href="/login"><button class="login">Login</button></a>
            <a href="/signup"><button class="signup">Sign Up</button></a>
        </div>
    </nav>
</header>
<body style="background-color: #f1ebeb;">
    <div class="container container1">
        <a href="/texttohandwriting">
            <div class="card card1">
                <h2>Text-to-Handwriting</h2>
                <p>This is some xyz description for text to handwriting</p>
            </div>
        </a>
    </div>
    <div class="container container2">
        <a href="/imageconverter">
            <div class="card card2">
                <h2>Image Convertor</h2>
                <p>This is some xyz description for image convertor</p>
            </div>
        </a>
    </div>
    <div class="container container3">
        <a href="/imageEnhancer">
            <div class="card card3">
                <h2>Image Enhancer</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container4">
        <a href="/imageCompressor">
            <div class="card card4">
                <h2>Image Compressor</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container5">
        <a href="/attendanceCalc">
            <div class="card card5">
                <h2>Attendance Calculator</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container6">
        <a href="/imgToText">
            <div class="card card6">
                <h2>Image to Text</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container7">
        <a href="/backgroundRemover">
            <div class="card card7">
                <h2>Background Remover</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container8">
        <a href="/plagerismChecker">
            <div class="card card8">
                <h2>Plagerism Checker</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container9">
        <a href="/textToSpeech">
            <div class="card card9">
                <h2>Text to Speech</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container10">
        <a href="/audioTranscriber">
            <div class="card card10">
                <h2>Audio Transcriber</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container11">
        <a href="/audioConverter">
            <div class="card card11">
                <h2>Audio Converter</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container12">
        <a href="/pdfTranslator">
            <div class="card card12">
                <h2>pdf Translator</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container13">
        <a href="/imgToGrayscale">
            <div class="card card13">
                <h2>Image to Grayscale</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container14">
        <a href="/unitConverter">
            <div class="card card14">
                <h2>Unit Converter</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container15">
        <a href="/qrCodeGenerator">
            <div class="card card15">
                <h2>QR Code Generator</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
    <div class="container container16">
        <a href="/urlShortner">
            <div class="card card16">
                <h2>URL Shortner</h2>
                <p>This is some xyz description for image compressor</p>
            </div>
        </a>
    </div>
</body>
</html>
