<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToolTrove</title>
    <link rel="stylesheet" href="/Static/styles.css">
</head>
<header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <!-- <ul class="flashes"> -->
          {% for category, message in messages %}
          <ul class="{{ category }}">{{ message | safe}}</ul>
          {% endfor %}
        <!-- </ul> -->
        {% endif %} {% endwith %}
</header>
<body style="background-color: #f1ebeb;">
    <h1>QR Code Generator</h1>
    <form action="/qrCodeImgfunc" method="post" enctype="multipart/form-data">
        <div class="textinput">
          <label for="link">Enter the Link</label>
          <input type="text" id="qrlink" name="qrlink">
        <!--</div>
        <div class="select">
          <select name="operation" id="floatingselect">
            <option selected>Choose</option>
            <option value="imgEnhance">Enhance</option>
            <option value="cpng">Convert to PNG</option>
            <option value="cwebp">Convert to webp</option>
            <option value="cjpg">Covert to jpg</option>
            <option value="cpdf">Convert to pdf</option> 
          </select> 
          <label for="Floatingselect">select the prefer editing operation</label>
        </div>-->
        <button type="submit" class="submitbt">Submit</button>
      </form>
</body>
</html>